@charset "UTF-8"

body {
  background: url("imagenes/foto.jpg") center center no-repeat
  margin: 0
  font-family: 'Oswald', sans-serif
  padding-top: 60px
  overflow-y: overlay
  overflow-y: auto
  background-size: cover
}

.bodi {
  width: 90%
  height: 90%
  overflow: hidden
  background-color: black
}

.footer {
  .reservado {
    padding-top: 0px
    margin-top{ 0px
    color: white
  }
}

.main {
  position: absolute
  top: 35%
  left: 45%
}

.info {
  height: 100vh
  width: 100vw
  background: url("imagenes/foto.jpg") center center no-repeat
  background-size: cover
  position: relative

  .data {
    font-family: 'Playfair Display', serif
    background: black
    color: #ffffff
    content: center
    width: 60vw
    padding: 60px
    border-radius: 30px
    position: absolute
    top: 20%
    left: calc(37% - 20vw)
    text-align: justify
  }
}

.cards-container {
  text-align: center

  .card {
    display: inline-block
    width: 200px
    height: 300px
    vertical-align: top
    margin: 0 10px
    background-color: #fff
    border: 1px solid #ccc
  }
}

.vinculos {
  display: inline-block
}

h1 {
  place-content: center
}

.merca {
  background: url("imagenes/foto.jpg") center center no-repeat
  background-size: cover
  margin: -40px
  font-family: 'Oswald', sans-serif
  padding-top: 24%
  height: 200%
  width: 100%
  background-color: black
  box-sizing: border-box

  .card3 {
    display: inline-block
    width: 200px
    height: 300px
    top: 40%
    vertical-align: top
    margin: 0 10px
    background-color: #000000
    border: 1px solid #ccc
  }
}

.container {
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

  .content {
    text-align: center
  }

  .buttons {
    margin-top: 20px

    .button {
      display: inline-block
      padding: 10px 20px
      background-color: #007bff
      color: #fff
      text-decoration: none
      margin-right: 10px

      &:last-child {
        margin-right: 0
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .fotito {
    width: 550px
    height: 250px
  }
}

@media screen and (max-width: 576px) {
  .fotito {
    width: 350px
    height: 175px
  }
}

.button {
  background-color: #000000
}
// <!--pagina de contacto-->
#fondo
background: url("imagenes/foto.jpg") center center no-repeat
background-size: cover
background-position: center
height: 100vh

#descripcion
resize: none

h2
color: white

.form-label
color: whitesmoke

.btn
background-color: grey
float: right

// <!--pagina de informacion-->
$body-margin: 0;
$body-font-family: 'Oswald', sans-serif;
$body-overflow-x: hidden;

.logo {
	height: 5px;
	width: 5px;
	position: absolute;
}

.nav {
	.links {
		display: inline;
		float: right;
		
		a {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

.portada {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	position: relative;

	.texto-inicial {
		font-family: 'Playfair Display', serif;
		background: black;
		color: #ffffff;
		content: center;
		width: 12vw;
		padding: 40px;
		border-radius: 30px;
		position: absolute;
		top: 12%;
		margin-top: 10%;

		left: calc(60% - 20vw);
		height: 12vw;
	}
}

.bodi {
	width: 90%;
	height: 90%;
	overflow: hidden;
	background-color: black;
}

.footer {
	.reservado {
		padding-top: 0px;
		margin-top: 0px;
		color: white;
	}
}

.main {
	position: absolute;
	top: 35%;
	left: 45%;
}

.info {
	height: 100vh;
	width: 100vw;
	background: url("imagenes/foto.jpg") center center no-repeat;
	background-size: 100% auto;
	position: relative;
	bottom: 0;

	.data {
		font-family: 'Playfair Display', serif;
		background: black;
		color: #ffffff;
		content: center;
		width: 60vw;
		padding: 60px;
		border-radius: 30px;
		position: absolute;
		top: 20%;
		left: calc(37% - 20vw);
		text-align: justify;
	}
}

.cards-container {
	text-align: center;

	.card {
		display: inline-block;
		width: 200px;
		height: 300px;
		vertical-align: top;
		margin: 0 10px;
		background-color: #fff;
		border: 1px solid #ccc;
	}
}

.vinculos {
	display: inline-block;
}

h1 {
	place-content: center;
}

.merca {
	background-size: cover;
	margin: -40px;
	font-family: 'Oswald', sans-serif;
	padding-top: 24%;
	height: 200%;
	width: 100%;
	background-color: black;
	box-sizing: border-box;

	.card3 {
		display: inline-block;
		width: 200px;
		height: 300px;
		top: 40%;
		vertical-align: top;
		margin: 0 10px;
		background-color: #000000;
		border: 1px solid #ccc;
	}
}

.reservado {
	background-color: #000000;
	bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
// <!--pagina de juegos-->
$color-background: #000000;
$color-border: #ccc;
$color-text: #ffffff;
$color-heading: white;
$color-label: whitesmoke;
$color-button: grey;
$color-highlight: aliceblue;

$size-card-width: 200px;
$size-card-height: 300px;
$size-card-margin: 10px;
$size-card-radius: 5px;
$size-image-height: 160px;
$size-font-heading: larger;
$size-font-label: 16px;

$height-background: calc(100vh - #{$size-image-height});

// Mixins
@mixin card {
  display: inline-block;
  width: $size-card-width;
  height: $size-card-height;
  vertical-align: center;
  margin: $size-card-margin;
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: $size-card-radius;
  position: relative;
  top: 110px;
  color: $color-text;

  img {
    width: 100%;
    height: $size-image-height;
    margin-top: 0px;
    border-top-left-radius: $size-card-radius;
    border-top-right-radius: $size-card-radius;
  }

  h3 {
    margin-top: 40px;
    font-size: $size-font-heading;
    font-weight: bolder;
    color: $color-highlight;
  }

  p {
    color: $color-highlight;
  }
}

// Estilos
#fondo {
  background: url("imagenes/foto.jpg") center center no-repeat;
  background-size: cover;
  background-position: center;
  height: $height-background;
}

#descripcion {
  resize: none;
}

h2 {
  color: $color-heading;
}

.form-label {
  color: $color-label;
  font-size: $size-font-label;
}

.btn {
  background-color: $color-button;
  float: right;
}

html, body {
  height: 100%;
}

.cards-container {
  text-align: center;

  .card {
    @include card;
  }

  .card2 {
    @include card;
    margin-top: 40px;
    top: 200px;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;

  .div1 {
    grid-area: 2 / 3 / 6 / 5;
    background-color: $color-background;
    border: 1px solid $color-border;
    border-radius: $size-card-radius;
    vertical-align: center;
    position: relative;
    text-align: center;
  }

  .div2 {
    grid-area: 2 / 5 / 6 / 7;
    background-color: $color-background;
    border: 1px solid $color-border;
    border-radius: $size-card-radius;
    vertical-align: center;
    position: relative;
    text-align: center;
  }
  .div2 {
    grid-area: 2 / 5 / 6 / 7;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div3 {
    grid-area: 2 / 7 / 6 / 9;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div4 {
    grid-area: 2 / 9 / 6 / 11;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div5 {
    grid-area: 7 / 3 / 11 / 5;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div6 {
    grid-area: 7 / 5 / 11 / 7;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div7 {
    grid-area: 7 / 7 / 11 / 9;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div8 {
    grid-area: 7 / 9 / 11 / 11;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

p {
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8 {
        grid-area: auto / auto / auto / auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Estilos para tablet */
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
}
// <!--pagina de mercado-->
$fondoImagen: url("imagenes/foto.jpg");

#fondo {
    background: $fondoImagen center center no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    &--descripcion {
        resize: none;
    }
}

h2 {
    color: white;
}

.form-label {
    color: whitesmoke;
}

.btn {
    background-color: grey;
    float: right;
}

html,
body {
    height: 100%;
}

.cards-container {
    text-align: center;

    .card {
        display: inline-block;
        width: 200px;
        height: 300px;
        vertical-align: center;
        /* para asegurar que todas las cartas estén alineadas en la parte superior */
        margin: 10px 10px;
        background-color: #000000;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        top: 110px;
        color: #ffffff;

        img {
            width: 100%;
            height: 160px;
            margin-top: 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        h3 {
            margin-top: 40px;
            font-size: larger;
            font: bolder;
            color: aliceblue;
        }
    }

    .card2 {
        display: inline-block;
        margin-top: 40px;
        width: 200px;
        height: 300px;
        vertical-align: center;
        /* para asegurar que todas las cartas estén alineadas en la parte superior */
        margin: 10px 10px;
        background-color: #000000;
        border: 1px solid #ccc;
        border-radius: 5px;
        position: relative;
        top: 200px;
    }
}

h1 {
    text-align: center;
    color: #ffffff;
    margin: top 20px !important;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 0px;

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8 {
        background-color: #000000;
        border: 1px solid #ccc;
        border-radius: 5px;
        vertical-align: center;
        position: relative;
        text-align: center;
    }

    .div1 {
        grid-area: 2 / 3 / 6 / 5;
    }

    .div2 {
        grid-area: 2 / 5 / 6 / 7;
    }

    .div3 {
        grid-area: 2 / 7 / 6 / 9;
    }

    .div4 {
        grid-area: 2 / 9 / 6 / 11;
    }

    .div5 {
        grid-area: 7 / 3 / 11 / 5;
    }

    .div6 {
        grid-area: 7 / 5 / 11 / 7;
    }

    .div7 {
        grid-area: 7 / 7 / 11 / 9;
    }    
    .div8 {
        grid-area: auto / auto / auto / auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Estilos para tablet */
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
}