#fondo {
  background: url("imagenes/foto.jpg")center center no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

#descripcion {
  resize: none;
}

h2 {
  color: white;
}

.form-label {
  color: whitesmoke
}

.btn {
  background-color: grey;
  float: right;
}
