body {
    margin: 0;
    padding: 0;
    background-image: url('imagenes/foto.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(119, 226, 240);
    padding: 30px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: justify;
}
.container{
    background: rgb(65,217,210);
    background: linear-gradient(90deg, rgba(65,217,210,1) 0%, rgba(234,234,235,1) 48%, rgba(192,108,222,1) 100%);
}