.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 2 / 3 / 6 / 5;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div2 {
    grid-area: 2 / 5 / 6 / 7;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div3 {
    grid-area: 2 / 7 / 6 / 9;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div4 {
    grid-area: 2 / 9 / 6 / 11;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div5 {
    grid-area: 7 / 3 / 11 / 5;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div6 {
    grid-area: 7 / 5 / 11 / 7;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div7 {
    grid-area: 7 / 7 / 11 / 9;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

.div8 {
    grid-area: 7 / 9 / 11 / 11;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    vertical-align: center;
    position: relative;
    text-align: center;
}

p {
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8 {
        grid-area: auto / auto / auto / auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Estilos para tablet */
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 20px;
    }
}
