.cards-container {
	text-align: center;
}

.card {
	display: inline-block;
	width: 200px;
	height: 300px;
	vertical-align: top;
	margin: 0 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}
.card {
    display: inline-block;
    width: 200px;
    height: 300px;
    vertical-align: center;
    /* para asegurar que todas las cartas estén alineadas en la parte superior */
    margin: 10px 10px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 110px;
    color: #ffffff;


}


.card2 {
    display: inline-block;
    margin-top: 40px;
    width: 200px;
    height: 300px;
    vertical-align: center;
    /* para asegurar que todas las cartas estén alineadas en la parte superior */
    margin: 10px 10px;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 200px;

}